{% extends '_layout.njk' %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/" method="post" novalidate>
      <input type="hidden" name="crumb" value="{{crumb}}"/>
      {% if model.error %}
        {{ govukErrorSummary({
          titleText: "Unable to submit request",
          errorList: model.error
        }) }}
      {% endif %}
      {{ govukInput(model.url) }}
      {{ govukRadios(model.method) }}
      {{ govukRadios(model.relay) }}
      {{ govukTextarea(model.data) }}
      {{ govukInput(model.token) }}
      {{ govukInput(model.relayNamespace) }}
      {{ govukInput(model.relayKeyName) }}
      {{ govukInput(model.relayKey) }}
      {{ govukButton({
        text: "Continue"
      }) }}
    </form>
  </div>
</div>
{% endblock %}
